{% extends 'base.html.twig' %}

{% block title %}Ajouter une Dette{% endblock %}

{% block body %}
    <h1>Ajouter une Dette pour {{ client.nom }} {{ client.prenom }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('client_dettes', {'id': client.id}) }}">Retour aux Dettes</a>
{% endblock %}
