{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
  <h1 class="page-title">Liste des clients</h1>

    <form action="{{ path('client_search') }}" method="get" class="search-form">
        <input type="text" name="search" placeholder="Rechercher par numéro" class="search-input">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Action</th> <!-- Colonne Action ajoutée -->
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.nom }}</td>
                        <td>{{ client.prenom }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.telephone }}</td>
                        <td>
                <form method="post" action="{{ path('client_delete', {id: client.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce client ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                         <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>



                            
                            <!-- Lien pour voir les dettes du client -->
                         <a href="{{ path('client_dettes', {id: client.id}) }}" class="btn btn-secondary">Dettes</a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun client trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ knp_pagination_render(clients) }}
        </div>
    </div>
{% endblock %}